<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
</head>
<body>
    <a href="/">READ</a>
    <a href="/create">CREATE</a>
    <a href="/update">UPDATE</a>
    <h2>please enter task to delete it</h2>
    <form action="/deleteaction" method="post">
        <label>Task:</label>
        <input type="text" name="task"><br>
        <button type="submit">Delete Task</button>
    </form>
</body>
</html>